/* pages/company/verify/verify.wxss */

.companyVerify {
  padding: 32rpx;

  .companyVerify__approve {
    margin-top: 64rpx;
    padding-left: 16rpx;
    display: flex;
    --td-checkbox-font-size: 28rpx;
    --td-checkbox-icon-size: 32rpx;

    .t-link {
      font-size: 28rpx;
    }
  }

  .companyVerify__top {
    padding-top: 64rpx;
    --td-checkbox-bg-color:var(--primary-background);
    --custom-color:#4571b3;
    --td-cell-description-color: var(--custom-color);
    --td-checkbox-icon-checked-color: var(--custom-color);
    --td-link-primary-color: var(--custom-color);
  }

  .companyVerify__item {
    margin-bottom: 32rpx;
  }

  &__bottom {
    padding: 128rpx 0 32rpx;
  }
}
