/**app.wxss**/
@import "./assets/scss/iconfont.scss";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}

page {

  // t-design bug fix
  .t-overlay {
    top: 0 !important;
  }

  --primary-background: #F2F2F6;
  --primary-color: #0089FF;
  --light-primary-color: #A4D5FF;
  --primary-padding: 20rpx;
  --page-padding-bottom: 20rpx;

  // t-design css variable
  -td-primary-color-1: #f2f3ff;
  -td-primary-color-2: #d9e1ff;
  -td-primary-color-3: #b5c7ff;
  -td-primary-color-4: #8eabff;
  -td-primary-color-5: #618dff;
  -td-primary-color-6: #366ef4;
  -td-primary-color-7: #0052d9;
  -td-primary-color-8: #003cab;
  -td-primary-color-9: #002a7c;
  --td-primary-color-10: #001a57;


  --td-success-color: #00a870; // 成功 [#00a870]
  --td-warning-color: #ed7b2f; // 警告 [#ed7b2f]
  --td-error-color: #e34d59; // 失败 [#e34d59]

  // td-button
  // --td-button-primary-bg-color: var(--td-primary-color);
  // --td-button-primary-border-color: var(--td-primary-color);
  --td-button-font-weight: 400;
  --td-button-border-radius: 16rpx;



  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
}

// [详情页]预览图的统一设置
.common-detail-image {
  width: 150rpx;
  height: 150rpx;
  border-radius: 10px;
  overflow: hidden;
}
