.form-control {
  // display: flex;
  // align-items: center;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-bottom: solid 1rpx #eee;
  font-size: 30rpx;
  color: #333;
  // padding: 14rpx;
  padding: 0rpx;
  margin-top: 20rpx;
  // height: 100rpx;

  /* 2个汉字 */
  .form-label-80 {
    height: 50rpx;
    line-height: 50rpx;
    width: 80rpx;
    margin-right: 20rpx;
    color: #666;

    text {
      color: #FF0000;
    }
  }

  /* 4个汉字 */
  .form-label-140 {
    height: 50rpx;
    line-height: 50rpx;
    width: 140rpx;
    margin-right: 20rpx;
    color: #666;
    font-size: 34rpx;
    color: #171A1D;

    text {
      color: #FF0000;
    }
  }

  /* 5个汉字 */
  .form-label-170 {
    height: 50rpx;
    line-height: 50rpx;
    width: 170rpx;
    margin-right: 20rpx;
    color: #666;
    font-size: 34rpx;
    color: #171A1D;

    text {
      color: #FF0000;
    }
  }

  /* 6个汉字 */
  .form-label-190 {
    height: 50rpx;
    line-height: 50rpx;
    width: 190rpx;
    margin-right: 20rpx;
    color: #666;
    font-size: 34rpx;
    color: #171A1D;

    text {
      color: #FF0000;
    }
  }

  /* 10个汉字 */
  .form-label-340 {
    height: 50rpx;
    line-height: 50rpx;
    width: 340rpx;
    margin-right: 20rpx;
    color: #666;

    text {
      color: #FF0000;
    }
  }

  .form-item {
    flex: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    position: relative;
    overflow: hidden;

    input {
      flex: 1;
      padding-left: 16rpx;
      padding-right: 10rpx;
      height: 50rpx;
    }

    .form-item-img-ext {
      width: 32rpx;
      height: 16rpx;
      pointer-events: none;
      position: absolute;
      right: 0rpx;
    }
  }

  &:last-child {
    margin-bottom: 40rpx;
  }
}

.form-control-horizontal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 30rpx;

  .form-label {
    padding: 20rpx 0;
    color: #666;

    text {
      color: #FF0000;
    }
  }

  .form-item {
    flex: 1;

    color: #333;

    position: relative;
    overflow: hidden;

    .text-area {
      flex: 1;
      display: flex;
      box-sizing: border-box;

      background: #FFFFFF;
      border: 1rpx solid #eee;
      border-radius: 10rpx;
      padding: 30rpx;
      height: 268rpx;
      width: 100%;
    }
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .flex-row {
    display: flex;
    box-sizing: border-box;
  }
}

//按钮
button.confirm-button {
  width: 94%;
  // font-size: 32rpx;
  // padding: 26rpx;
  // text-align: center;
  // color: #FFFFFF;
  // margin-top: 12rpx;
  font-weight: unset;
}